<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ECO AUTOS</title>
        <script src="https://kit.fontawesome.com/9b71be7adb.js" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/style.css') }}">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="icon" type="text/css" href="{{ url_for('static', filename='/images/ecoLogo.png') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='js/javascript.js') }}"></script>
    </head>
    <body class="d-flex justify-content-center align-items-center vh-100 border border-success bg-light">
            <div class="border border-light w-25 p-5 text-center rounded-3 bg-success text-light">
            <form enctype="multipart/form-data" class="m-auto p-3"
                action="/update/rent/auto/{{auto.id}}" method="post">
                <i class="fa-brands fa-envira fs-3 text-light"><h1 class="text-light fs-4">Upadate Rent Details</h1></i>
                <div class="form-row">
                    <label for="image" class="p-2 my-2">Upload photo: </label>
                    <input type="file" class="form-control postImage" name="image">
                </div>
                {% with messages = get_flashed_messages(category_filter=["image"]) %}
                {% if messages %}
                {% for message in messages %}
                <p class="text-warning text-center">{{message}}</p>
                {% endfor %}
                {% endif %}
                {% endwith %}
                <div class="form-row">
                    <label for="make" class="p-2">Make:</label>
                    <input type="text" class="form-control" name="make" value="{{auto.make}}">
                </div>
                {% with messages = get_flashed_messages(category_filter=["make"]) %}
                {% if messages %}
                {% for message in messages %}
                <p class="text-warning text-center">{{message}}</p>
                {% endfor %}
                {% endif %}
                {% endwith %}
                <div class="form-row">
                    <label for="model" class="p-2">Model:</label>
                    <input type="text" class="form-control" name="model" value="{{auto.model}}">
                </div>
                {% with messages = get_flashed_messages(category_filter=["model"]) %}
                {% if messages %}
                {% for message in messages %}
                <p class="text-warning text-center">{{message}}</p>
                {% endfor %}
                {% endif %}
                {% endwith %}
                <div class="form-row">
                    <label for="price" class="p-2">Price:</label>
                    <input type="number" class="form-control" min="0" name="price" value="{{auto.price}}">
                </div>
                {% with messages = get_flashed_messages(category_filter=["price"]) %}
                {% if messages %}
                {% for message in messages %}
                <p class="text-warning text-center">{{message}}</p>
                {% endfor %}
                {% endif %}
                {% endwith %}
                <div class="form-row">
                    <label for="year" class="p-2">Year:</label>
                    <input type="number" class="form-control" min="0" name="year" value="{{auto.year}}">
                </div>
                {% with messages = get_flashed_messages(category_filter=["year"]) %}
                {% if messages %}
                {% for message in messages %}
                <p class="text-warning text-center">{{message}}</p>
                {% endfor %}
                {% endif %}
                {% endwith %}
                <div class="form-row">
                    <label for="new_used" class="p-2">New/Used:</label>
                    <input type="text" class="form-control" name="new_used" value="{{auto.new_used}}">
                </div>
                {% with messages = get_flashed_messages(category_filter=["new_used"]) %}
                {% if messages %}
                {% for message in messages %}
                <p class="text-warning text-center">{{message}}</p>
                {% endfor %}
                {% endif %}
                {% endwith %}
                <div class="form-row">
                    <label for="comments" class="p-2">Comment:</label>
                   <textarea name="comments" id="" cols="40" rows="5">{{auto.comments}}</textarea>
                </div>
                {% with messages = get_flashed_messages(category_filter=["comment"]) %}
                {% if messages %}
                {% for message in messages %}
                <p class="text-warning text-center">{{message}}</p>
                {% endfor %}
                {% endif %}
                {% endwith %}
                <button class="mt-2 btn bg-light text-success font-22 fw-bold">UPDATE</button>
        
            </form>
        </div>
        </body>
        </form>
</body>
</html>